global_costmap:
  global_frame: map
  update_frequency: 1.0 #2.5
  publish_frequency: 1.0 #2.5
  transform_tolerance: 0.5
  width: 6
  height: 6
  origin_x: 0.0  #-7.5
  origin_y: 0.0  #-7.5
  static_map: true 
  rolling_window: false
  inflation_radius: 0.60  #.40
  resolution: 0.05
  plugins:
    - {name: static_layer,           type: "costmap_2d::StaticLayer"}
    - {name: inflation_layer,        type: "costmap_2d::InflationLayer"}
  inflation_layer:
    cost_scaling_factor: 3.0
    inflation_radius: 0.4
