mw_maxl_planner:
  use_laser: true
  odomTopic: "/odom"
  plot_path: true

  pathFolder: "/home/ampho/mowito_ws/src/mw_maxl/paths"
  
  autonomyMode: true
  map_frame: "map"
  robot_frame: "base_link"
  velodyne_frame: "velodyne"
  laser_frame: "base_laser"

  lookahead_goal_on_path: true
  min_lookahead: 0.2
  max_lookahead: 2.0
  closest_point_index_search: 10
  max_y_deviation: 1.0
  min_radius: 0.1
  max_radius: 1.0
  max_omega_radius: 1.0
  max_path_dev: 1.0
  lookahead_point_distance: 0.1 

  vehicleLength: 0.990
  vehicleWidth: 0.670
  sensorOffsetX: 0.1
#  sensorOffsetY: 

  maxSpeed: 0.4
  maxAccel: 0.5